*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
fleet
idea
nova
phpunit.cache
vscode
zed
uth.json
ode_modules
ublic/build
ublic/hot
ublic/storage
torage/*.key
torage/pail
endor
Homestead.json
Homestead.yaml
Thumbs.db
app (2).zip
app/Http/Controllers/PaymentController.php
bootstrap.zip
app.zip
config.zip
database.zip
Docs-Resource-Developement
*.zip
*.cmd
/node_modules
*.json
!vercel.json
!package.json
!package-lock.json
!tsconfig.json
!metadata.json
/dist
