*.log
.DS_Store
.env
.env.backup
.env.production
.env.save
.env-s
.env.testing
client_secret_*.json
oauth_*.json
service_account*.json
*.pem
*.key
recovery-codes*.txt
2fa-recovery*.txt
vercel-*.txt
.phpactor.json
.phpunit.result.cache
fleet
idea
nova
phpunit.cache
vscode
zed
uth.json
node_modules/
public/build
public/hot
public/storage
storage/*.key
storage/pail
vendor/
Homestead.json
Homestead.yaml
Thumbs.db
app (2).zip
app/Http/Controllers/PaymentController.php
bootstrap.zip
app.zip
config.zip
database.zip
Docs-Resource-Developement
*.zip
*.cmd
/node_modules
*.json
!vercel.json
!package.json
!package-lock.json
!tsconfig.json
!metadata.json
/dist
